/* -------------------BASE------------------------ */

.container {
  width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
button {
  border: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: rgba(141, 216, 61, 1);
}

/* ----------------HEADER----------------- */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(55, 58, 60, 1);
}

.header__list {
  display: flex;
}
.header__item,
.header__acc {
  color: rgba(255, 255, 255, 0.5);
  transition: color 250ms linear;
}

.header__link,
.header__acc {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  font-weight: 400;

  display: block;
  padding: 20px 0;
  transition: color 250ms linear;
}

.header__acc {
  padding: 0;
}
.header__link:hover, .header__link:focus,
.header__acc:hover, .header__acc:focus {
  color: rgba(255, 255, 255, 1);
}

.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__image {
  width: 96px;
  height: 29px;
}
.header__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.header__account {
  display: flex;
  align-items: end;
}

/* ----------------------HERO----------------------------- */

.hero {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  background-color: rgba(85, 72, 72, 0.5);

  background-repeat: no-repeat;
  background-size: contain;
}
.hero__main {
  display: block;
  height: 644px;
  background-image: url(../images/hero.jpg);
}
.hero__games {
  height: 550px;
  background-image: url(../images/hero-game.jpg);
}
.hero__title {
  position: absolute;
  top: 200px;
  right: 450px;
  color: white;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}
.hero__title--span {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
}
.hero__box {
  position: absolute;
  bottom: 200px;
  right: 270px;
}
.button {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 400;
  padding: 15px 25px;
  border-radius: 4px;
  color: white;
  background-color: var(--accent-color);
  transition: box-shadow 250ms linear;
}
.button:hover, .button:focus {
  box-shadow: 0px 0px 20px white;
}
.button:last-child {
  background-color: rgba(104, 108, 111, 1);
  margin-left: 13px;
}

/* -----------------ENTERTAINMENT------------------- */


.entertainment .container {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 160px;
  background-color: rgb(68, 70, 70);
}

.entertainment__list {
  display: flex;
  justify-content: center;
}

.entertainment__image {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}
.entertainment__item {
  position: relative;
  width: 320px;
  height: 420px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}
.entertainment__item:not(:last-child) {
  margin-right: 60px;
}
.entertainment__title {
  color: white;
  font-family: Roboto;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 45px;
}
.entertainment__span {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 500;
}

/* ----------------CARDS----------------- */

.card__box {
  width: 318px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image {
  display: block;
}
.card__text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.16;
  text-align: left;
  font-weight: 500;
}

.card__link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: white;
  width: 278px;
  height: 60px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  font-weight: 400;
  transition: box-shadow 250ms linear;
}
.card__link:hover {
  box-shadow: 0px 0px 20px var(--accent-color);
}
.card__thumb {
  padding: 20px;
  text-align: start;
}
.card__name {
  margin-bottom: 13px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 400;
}

/* -------------------GAMES--------------------- */

.games .container {
  height: 880px;
  background-color: rgb(139, 133, 133);
  background-image: url(../images/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.games__title {
  color: white;
  padding-top: 100px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 500;
  margin-bottom: 53px;
}
.games__list {
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}
.games__item {
  position: relative;
  width: 320px;
  height: 420px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}

.games__item:not(:last-child) {
  margin-right: 30px;
}
.games__button {
  cursor: pointer;
  font-family: Roboto;
  font-size: 21px;
  line-height: 1;
  font-weight: 400;

  padding: 16px 47px;
  border-radius: 4px;
  background-color: rgba(104, 108, 111, 1);
  color: white;
  transition: box-shadow 250ms linear;
}
.games__button:hover, .games__button:focus {
  box-shadow: 0px 0px 20px white;
}

/* ---------------DESIGN------------- */
.design .container {
  height: 480px;
  background-color: rgb(203, 210, 216);
  background-image: url(../images/joystick.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.design__title,
.description__title {
  color: white;
  font-family: Roboto;
  font-size: 48px;
  line-height: 1.16;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 114px;
}
.description__title {
  font-size: 36px;
  color: black;
  padding-top: 0;
  margin-bottom: 100px;
}

.design__text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 400;
  color: white;
  width: 500px;
  margin-bottom: 37px;
}
.design__button {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 400;
  background-color: rgba(104, 108, 111, 1);
  padding: 20px 50px;
  border-radius: 4px;
  color: white;
  transition: box-shadow 250ms linear;
}
.design__button:hover, .design__button:focus {
  box-shadow: 0px 0px 20px rgb(124, 122, 122);
}

.design__button:last-child {
  background-color: var(--accent-color);
  padding: 20px 23px;
  margin-left: 15px;
}

/* ---------------------FOOTER--------------- */

.footer .container {
  padding-top: 58px;
  padding-bottom: 40px;
  background-color: rgba(55, 58, 60, 1);
}

.footer__title {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.31;
  font-weight: 500px;
  color: var(--accent-color);
  margin-bottom: 34px;
}
.footer__main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}
.footer__link {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400px;
  color: rgba(255, 255, 255, 1);
}
.footer__item:not(:last-child) {
  margin-bottom: 30px;
}
.footer__text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400px;
  color: rgba(255, 255, 255, 1);
}
.footer__box {
  display: flex;
  justify-content: space-between;
}

.network__list {
  display: flex;
}

.network__item:not(:last-child) {
  margin-right: 20px;
}
.network__icon {
  width: 20px;
  height: 20px;
}

/* -----------------------------------------------CaLL OF DUTY---------------------------------- */
/* -----------------------------DESCRIPTION----------------- */
.description {
  padding: 100px 0;
  text-align: center;
}

.description__video {
  display: block;
  margin: 0 auto;
  transition: box-shadow 250ms linear;
  margin-bottom: 100px;
}
.description__link {
  display: inline-block;
  margin-bottom: 100px;
}
.description__link:hover, .description__link:focus {
  box-shadow: 0px 0px 20px rgba(55, 58, 60, 1);
}
.description__link:last-child {
  margin-left: 15px;
}
.description__image {
  width: 524px;
  height: 359px;
  margin-left: 110px;
}
.description__item:last-child .description__image {
  margin-left: 0;
  margin-right: 110px;
}

.description__name {
  width: 415px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
}
.description__item {
  display: flex;
  justify-content: center;
}
.description__item:first-child {
  margin-bottom: 100px;
}
.description__item:last-child {
  flex-direction: row-reverse;
}

/* -----------------------------------SPECIFICATIONS------------------------- */
.specifications .container {
  text-align: center;
}
.specifications__title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 47px;
}

.specifications__item {
  text-align: start;
  font-family: Roboto;
  font-size: 21px;
  line-height: 1.14;
  font-weight: 400;
  width: 320px;
  margin: 30px;
}
.specifications__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px;
  margin-bottom: 80px;
}
.specifications__button {
  margin-bottom: 100px;
  transition: box-shadow 250ms linear;
}
.specifications__button:hover,
.specifications__button:focus {
  box-shadow: 0px 0px 20px rgba(104, 108, 111, 1);
}
